{% extends "base.html" %}
{% block content %}
<section class="profile container">
    <div class=" mt-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="card" style="width: 300rem;">
                    <div class="card-body">
                        {% if query %}
                        <h4> You searched for {{query}}</h4>
                        <br>
                        {% for biss in bizz% }
                        <h3>{{biss}} - {{biss.bizz_neighborhood}} </h3>
                        {% endfor %}
                        {% else %}
                        <p> You did not search for anything</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}