{% extends "base.html" %}
{% block content %}
<style>
  body {
      background: #000000;
background: -moz-linear-gradient(left, #000000 0%, #132052 56%, #C5C5C5 100%);
background: -webkit-linear-gradient(left, #000000 0%, #132052 56%, #C5C5C5 100%);
background: linear-gradient(to right, #000000 0%, #132052 56%, #C5C5C5 100%);
  }
</style>
<section class="profile container">
    <div class=" mt-5">
        <div class="row">
            <div class="card" style="width: 100rem;">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">No.</th>
                            <th scope="col">NAME</th>
                            <th scope="col">LOCATION</th>
                            <th scope="col">OCUPATION No.</th>
                            <th scope="col">VIEW HOOD</th>
                            <th scope="col">Options.</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>{% for n in majirani %}
                            <th scope="row">1</th>
                            <td>  {{n.neigname}} </td>
                            <td> {{n.neiglocation}}</td>
                            <td>{{n.neigcount}}</td>
                                {% endfor %}
                              
                                <td><!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                      View the area scale
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Nyali shree east view</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <img class="d-block w-100" src="https://media.istockphoto.com/photos/panoramic-aerial-view-of-a-upscale-suburbs-in-atlanta-picture-id1292500139?b=1&k=20&m=1292500139&s=170667a&w=0&h=2memBptV8z34znd21udu-s4MfGZx7k9dg8l2h39gM2o=" alt="First slide" style="width: 450px;height: 350px;">
                                            
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div></td>
                            <td> <a href=""> <button class="btn btn-outline-info" type="submit">join</button></a>
                                <a href=""> <button class="btn btn-outline-danger" type="submit">Shift</button></a></td>
                          </tr>
                         
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}