{% extends 'base.html'%}

{% block content%}
<style>
    .avatar{
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 70%;
}
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <nav class="nav flex-column">
                <a class="nav-link active" href="#">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link disabled" href="#">Disabled</a>
            </nav>
        </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3> BOLD BET AWWARDS PROJECTS</h3>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.unsplash.com/photo-1641499485515-7d1f26ebbe77?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="Card image" style="width: 550px;height: 200px;">
                    <div class="card-img-overlay">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">Last updated 3 mins ago</p>
                    </div>
                  </div>
            </div>                   
    </div>
    <br><br>

    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="card-body">
                    {% if profile.profile_picture %}
                    <img src="{{profile.profile_picture.url}}" alt="Avatar" class="avatar">
                {% else %}
                <div class="avatar">
                    <h4>Profile </h4>
                    <img class="avatar" src="https://images.unsplash.com/photo-1641490237895-96e9789dbb3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Avatar">
                </div>
                {% endif %}
                </div>
            </div>
            {% if posted.title %}
            <div >
                <h5>{{posted.title}} </h5>
                {% else %}
                <P> please confirm your post again!!</P>
                {% endif %}
              <div class="p-4">
                {% if posted.info %}
                <h5 class="headings text-center"> <a data-bs-toggle="modal"                    
                    class="text-white text-capitalize modal-click">{{posted.info}}</a></h5>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        Error while loading information
                      </div>
                    {% endif %}
                <div class="d-flex justify-content-between">
                  <div>
                    {% if posted.info %}
                    <h4> {{if posted.info}}</h4>
                    {% else %}
                    <h6> No date </h6>
                    {% endif %}
                  </div>
                  <div>
                    <small class="text-muted">
                      <span class="badge rounded-pill bg-dark text-white text-capitalize"></span>
                    </small>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
</div>
{% endblock %}