{% extends 'base.html'%}
{% load bootstrap4 %}

{% block content%}
<h1> hello</h1>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token%}
                    {% bootstrap_form form %}
                    <input class="btn btn-outline-success" type="submit" value="submitt">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}